name: CI Pull Request

on:
  pull_request:
    branches: [main]

permissions:
  contents: write

jobs:
  on-main-pull-request:

    strategy:
      matrix:
        os: [ubuntu-latest]
        cabal: [3.14.2.0]
        ghc: [9.12.2]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Haskell
      uses: haskell-actions/setup@v2.6.2
      id: setup
      with:
        ghc-version: ${{ matrix.ghc }}
        cabal-version: ${{ matrix.cabal }}
        cabal-update: true

    - name: Configure Cabal
      run: |
        cabal update
        cabal configure --enable-tests --enable-benchmarks --enable-documentation

    - name: Generate cache key
      # Creates plan.json file
      run: |
        cabal build all --dry-run

    - name: Restore cached dependencies
      uses: actions/cache/restore@v4
      id: cache
      env:
        key: ${{ matrix.os }}-ghc-${{ matrix.ghc }}-cabal-${{ matrix.cabal }}
      with:
        path: ${{ steps.setup.outputs.cabal-store }}
        key: ${{ env.key }}-plan-${{ hashFiles('**/plan.json') }}
        restore-keys: ${{ env.key }}

    - name: Install dependencies
      # If we had an exact cache hit, the dependencies will be up to date.
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        cabal build all --only-dependencies

    # Cache dependencies already here, so that we do not have to rebuild them should the subsequent steps fail.
    - name: Save cached dependencies
      uses: actions/cache/save@v4
      # If we had an exact cache hit, trying to save the cache would error because of key clash.
      if: steps.cache.outputs.cache-hit != 'true'
      with:
        path: ${{ steps.setup.outputs.cabal-store }}
        key: ${{ steps.cache.outputs.cache-primary-key }}

    - name: Build
      run: |
        cabal build all -f Pedantic

    - name: Test "symbolic-base-test (Algebra)"
      run: cabal test symbolic-base-test --test-option="--match=symbolic-base-test (Algebra)"
    
    - name: Test "symbolic-base-test (Serialization)"
      run: cabal test symbolic-base-test --test-option="--match=symbolic-base-test (Data)"

    - name: Test "symbolic-base-test (Protocols)"
      run: cabal test symbolic-base-test --test-option="--match=symbolic-base-test (Protocols)"

    - name: Test "symbolic-base-test (Symbolic compiler)"
      run: cabal test symbolic-base-test --test-option="--match=symbolic-base-test (Symbolic compiler)"

    - name: Test "symbolic-base-test (Symbolic data)"
      run: cabal test symbolic-base-test --test-option="--match=symbolic-base-test (Symbolic data)"

    - name: Test "symbolic-base-test (Symbolic cryptography)"
      run: cabal test symbolic-base-test --test-option="--match=symbolic-base-test (Symbolic cryptography)"

    - name: Test "symbolic-base-test (Rust FFI)"
      run: cabal test symbolic-base-test --test-option="--match=symbolic-base-test (Rust FFI)"

    - name: Run other tests
      run: cabal test all --test-option="--skip=symbolic-base-test"

    - name: Benchmark circuit size for symbolic examples
      run: cabal bench symbolic-examples:bench-circuit-size

    - name: Benchmark circuit size for symbolic ledger
      run: cabal bench symbolic-ledger:bench-circuit-size

    - name: Benchmark compiler performance
      run: cabal bench bench-compiler-performance

    - name: Benchmark experimental compiler performance
      run: cabal bench experimental-backend

    - name: Benchmark polynomial multiplication
      run: cabal bench bench-poly-mul

    - name: Benchmark in-circuit EC scalar multiplication
      run: cabal bench bench-in-circuit-ec

    - name: Benchmark Lagrange basis computation
      run: cabal bench bench-lagrange-basis

    - name: Benchmark Rust code
      run: |
        cd symbolic-base/rust-wrapper
        cargo bench
        cd ../..

    - name: Check cabal files
      run: |
        cd symbolic-base
        cabal check

        cd ../symbolic-examples
        cabal check

        cd ../symbolic-apps
        cabal check

        cd ../symbolic-ledger
        cabal check

        cd ../symbolic-cardano
        cabal check

        cd ../symbolic-uplc
        cabal check

        cd ..

    - name: Document package
      run: cabal haddock all

    - name: Prepare package for publishing
      run: cabal sdist all

  check-ghc-96-build:
    name: Check build on GHC 9.6

    strategy:
      matrix:
        os: [ubuntu-latest]
        cabal: [3.14.2.0]
        ghc: [9.6.7]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - uses: haskell-actions/setup@v2.6.2
      id: setup
      with:
        ghc-version: ${{ matrix.ghc }}
        cabal-version: ${{ matrix.cabal }}
        cabal-update: true

    - name: Configure Cabal
      run: |
        cabal update
        cabal configure --enable-tests --enable-benchmarks --enable-documentation

    - name: Generate cache key
      # Creates plan.json file
      run: |
        cabal build all --dry-run

    - name: Restore cached dependencies
      uses: actions/cache/restore@v4
      id: cache
      env:
        key: ${{ matrix.os }}-ghc-${{ matrix.ghc }}-cabal-${{ matrix.cabal }}
      with:
        path: ${{ steps.setup.outputs.cabal-store }}
        key: ${{ env.key }}-plan-${{ hashFiles('**/plan.json') }}
        restore-keys: ${{ env.key }}

    - name: Install dependencies
      # If we had an exact cache hit, the dependencies will be up to date.
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        cabal build all --only-dependencies

    # Cache dependencies already here, so that we do not have to rebuild them should the subsequent steps fail.
    - name: Save cached dependencies
      uses: actions/cache/save@v4
      # If we had an exact cache hit, trying to save the cache would error because of key clash.
      if: steps.cache.outputs.cache-hit != 'true'
      with:
        path: ${{ steps.setup.outputs.cabal-store }}
        key: ${{ steps.cache.outputs.cache-primary-key }}

    - name: Build
      run: |
        cabal build all -f Pedantic

  fourmolu-job:
    strategy:
      matrix:
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4.1.1

    - name: Download and run fourmolu
      run: |
        curl -L https://github.com/fourmolu/fourmolu/releases/download/v0.19.0.0/fourmolu-0.19.0.0-linux-x86_64 -o fourmolu
        chmod +x fourmolu
        git ls-files -z '*.hs' | xargs -P 12 -0 ./fourmolu --mode inplace
        rm ./fourmolu

    - name: Auto-commit lint
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: fourmolu auto-commit
        commit_user_name: GitHub Action
        commit_user_email: action@github.com
        branch: ${{ github.head_ref }}
